body {
    background: linear-gradient(315deg, rgba(52, 89, 149, 1) 0%, rgba(20, 166, 159, 0.50) 65%, rgba(3, 206, 164, 0) 100%);
    background-attachment: fixed;
    background-size: 100%;
    font-size: 2rem;
}

h1 {
    font-size: 2em;
}

h2 {
    font-size: 1.2em;
}

li {
    list-style: none
}

ul {
    padding-inline-start: 0px;
}

#scrollToTop {
    position: fixed;
    width: 4em;
    height: 4em;
    bottom: 3em;
    right: 3em;
    background-color: rgba(255, 255, 255, 0.5);
    border-color: rgba(255, 255, 255, 0);
    border-radius: 100%;
    opacity: 0.7;
}

.accordionButtonText {
    font-size: .8em;
}

.elementsMargin {
    margin-bottom: 1em;
}

.accordionContainer {
    color: #000;
}

.contentContainer {
    background-color: rgba(255, 255, 255, 1);
    color: #000;
    border-radius: 1em;
}

.progressBarSize {
    height: 2em;
    font-size: .7em;
}

#progressBarHTML {
    height: 2em;
    font-size: .7em;
}

#colorBarHTML {
    background-color: #dd4b25
}

#progressBarCSS {
    height: 2em;
    font-size: .7em;
}

#colorBarCSS {
    background-color: #254bdd
}

#progressBarGithub {
    height: 2em;
    font-size: .7em;
}

#colorBarGithub {
    background-color: #1a1e22
}

#progressBarPHP {
    height: 2em;
    font-size: .7em;
}

#colorbarPHP {
    background-color: #7377ad
}

#progressBarJS {
    height: 2em;
    font-size: .7em;
}

#colorBarJS {
    background-color: #f7d724;
    color: #000
}

#progressBarBS {
    height: 2em;
    font-size: .7em;
}

#colorBarBS {
    background-color: #7952b3
}

#progressBarWP {
    height: 2em;
    font-size: .7em;
}

#colorBarWP {
    background-color: #0083b8
}

#progressBarSQL {
    height: 2em;
    font-size: .7em;
}

#colorBarSQL {
    background-color: #00a5e4
}

#colorBarReact {
    background-color: #61DBFA;
    color: #000;
}

#dbSchenker {
    width: 12em;
    height: 3em;
}

#alplaImg {
    width: 9em;
    height: 3em;
}

#pharmacieImg {
    width: 7em;
    height: 7em;
}

.laManuImg {
    margin-top: .7em;
    margin-bottom: 1em;
}

.icons {
    width: 2.5em;
    height: 2.5em;
}

#phpIcon {
    width: 2.5em;
    height: 2.5em;
}

#contactButtonText {
    font-size: 1em;
}

::-webkit-scrollbar {
    width: 0px;
}

#mailLink {
    color: #000;
}

#mailLink:hover {
    color: #fff;
}

#phoneLink {
    color: #000;
}

#phoneLink:hover {
    color: #fff;
}

#linkedInLink {
    color: #000;
}

#linkedInLink:hover {
    color: #fff;
}

#mailIcon {
    width: 2em;
    height: 2em;
    margin-right: 1em;
}

#phoneIcon {
    width: 2em;
    height: 2em;
    margin-right: 1em;
}

#linkedInLogo {
    width: 2em;
    height: 2em;
    margin-right: 1em;
}

@media all and (min-width: 576px) and (max-width: 1024px) {

    body {
        font-size: 3em;
    }

    .accordionButtonText {
        font-size: 1em;
    }

    .laManuImg {
        width: 500px;
        height: 150px;
    }

    .marginComponents {
        margin-top: 2em;
    }

    #linkedInLogo {
        width: 2em;
        height: 2em;
        margin-right: 0;
    }

    #mailIcon {
        width: 2em;
        height: 2em;
        margin-right: 0;
    }

    #phoneIcon {
        width: 2em;
        height: 2em;
        margin-right: 0;
    }

    #contactButtonText {
        font-size: 1.2em;
    }

    #scrollToTop {
        position: fixed;
        width: 4em;
        height: 4em;
        bottom: 1.5em;
        right: 1.5em;
        background-color: rgba(255, 255, 255, 0.5);
        border-radius: 100%;
    }
}