body {
    background: linear-gradient(315deg, rgba(52, 89, 149, 1) 0%, rgba(20, 166, 159, 0.50) 65%, rgba(3, 206, 164, 0) 100%);
    background-attachment: fixed;
    background-size: 100%;
    font-size: 2rem;
}

h1 {
    font-size: 2em;
}

h2 {
    font-size: 1.5em;
}

.blackBackground {
    background-color: #000;
}

.contentContainer {
    background-color: #fff;
    color: #000;
    border-radius: 1em;
}
